<!DOCTYPE html>
<html>
<head>
  <title>Basic sigma.js example</title>
  <style type="text/css">
    body {
      margin: 0;
    }
    #container {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  </style>
</head>
<body>
  <div id="container"></div>
  <script src="../public/javascripts/sigma.min.js"></script>
  <script>
    var s = new sigma({
      renderer: {
        container: document.getElementById('container'),
        type: 'canvas'
      },
      settings: {
        autoRescale: false,
        mouseEnabled: false,
        touchEnabled: false,
        nodesPowRatio: 1,
        edgesPowRatio: 1,
        defaultEdgeColor: '#333',
        defaultNodeColor: '#333',
        edgeColor: 'default'
      }
    });

    dom = document.querySelector('#container canvas:last-child');
    dom.addEventListener('click', function(e) {
      var x,
          y;

      x = sigma.utils.getX(e) - dom.offsetWidth / 2;
      y = sigma.utils.getY(e) - dom.offsetHeight / 2;

      s.graph.addNode({
        id: 1,
        size: 1,
        x: x,
        y: y,
        dX: 0,
        dY: 0,
        type: 'goo'
      });
  }, false);

  </script>
</body>
</html>