<html>
    <head>
        <title>Optical Network Simulator</title>
        <link href="/css/style.css" rel="stylesheet" type="text/css">
    </head>

    <body>
        <header>
            <div class="top">
                Optical Network Simulation
            </div>
            <nav>
                <a href="#">Home</a>
                <a href="#">Simulation</a>
                <a href="#">About Us</a>
                <a href="#">Contact</a>
            </nav>
        </header>
    </body>

    <footer>
    </footer>
</html>