<!DOCTYPE html>
<html>
<head>
   <% include template/head.ejs %>
</head>

<body>
   <header>
      <% include template/header.ejs %>
   </header>

   <div class="container">
      <% include template/footer.ejs %>
   </div>

</body>

</html>
<footer></footer>