<!DOCTYPE html>
<html>
<head>
   <% include template/head.ejs %>
</head>

<body>
   <header>
      <% include template/header.ejs %>
   </header>

   <div class="container mt-5">
      <button name="1" class="btn btn-default" data-toggle="confirmation" data-popout="true">Confirmation 1</button>
   </div>

   <div class="container">
      <% include template/footer.ejs %>
   </div>

</body>

</html>
<footer></footer>