<!DOCTYPE html>
<html>
<head>
   <% include template/head.ejs %>
   <meta http-equiv="refresh" content="5">
</head>

<body>
   <header>
      <% include template/header.ejs %>
   </header>

   <div class="container mt-5">

      <% var allKeys = [] %>

      <% for(var index in results) { %>
      <% var result = JSON.parse(results[index].result) %>
      <% const keys = Object.keys(result) %>
      <% for(var key in keys) { %>
      <% allKeys.push(keys[key]) %>
      <% } %>
      <% } %>

      <% let unique = [...new Set(allKeys)]; %>

      <div class="btn-group">
         <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            X Axis
         </button>
         <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <% for(var statistic in unique) { %>
            <a class="dropdown-item" href="#"><%= unique[statistic] %></a>
            <% } %>
         </div>
      </div>

      <div class="btn-group">
         <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Y Axis
         </button>
         <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <% for(var statistic in unique) { %>
            <a class="dropdown-item" href="#"><%= unique[statistic] %></a>
            <% } %>
         </div>
      </div>

      <% include template/footer.ejs %>
   </div> <!-- /container -->
</body>

</html>
