<div class="navbar-default sidebar" role="navigation">
  <div class="sidebar-nav navbar-collapse">
    <ul class="nav in" id="side-menu">
      <li>
        <a href="simulation-groups"><i class="glyphicon glyphicon-stats"></i> Simulation Groups</a>
        <ul class="nav nav-second-level collapse in">
          <li>
            <a href="dcd"><span id="executing-badge" class="badge">5</span> Executing</a>
          </li>
          <li>
            <a href="#"><span id="finished-badge" class="badge">0</span> Finished</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="workers"><i class="glyphicon glyphicon-fire"></i> Workers</a>
      </li>
    </ul>
  </div>
</div>
