<!DOCTYPE html>
<html>
<head>
   <% include template/head.ejs %>
</head>

<body>
   <header>
      <% include template/header.ejs %>
   </header>

   <div id='container' class='container'>

   </div>

   <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
   <script>
      google.charts.load( 'current', { 'packages': ['gauge'] });
      google.charts.setOnLoadCallback( generateChart );

      var workerAddresses = [];

      function generateChart() {

         // Ajax
         drawChart();
         setInterval( drawChart, 1000 );
      }

      function drawChart() {

         const xmlhttp = new XMLHttpRequest();

         xmlhttp.onreadystatechange = function () {

            if ( xmlhttp.readyState == 4 && xmlhttp.status == 200 ) {

               const workers = JSON.parse( xmlhttp.response );

               var activeWorkers = [];

               const container = document.getElementById( 'container' );

               for ( var idx = 0; idx < workers.length; ++idx ) {

                  var div;

                  if ( ( div = document.getElementById( workers[idx].address ) ) === null ) {

                     workerAddresses.push( workers[idx].address );
                     activeWorkers.push( workers[idx].address );

                     div = document.createElement( 'div' );
                     div.style = 'width: 50%; margin: 0 auto;';
                     div.id = workers[idx].address;
                     container.appendChild( div );

                  } else {
                     activeWorkers.push( workers[idx].address );
                  }

                  var data = google.visualization.arrayToDataTable( [
                     ['Label', 'Value'],
                     ['Memory', ( 1 - workers[idx].lastResource.memory ) * 100],
                     ['CPU', ( 1 - workers[idx].lastResource.cpu ) * 100]
                  ] );

                  var options = {
                     width: 400, height: 120,
                     redFrom: 90, redTo: 100,
                     yellowFrom: 75, yellowTo: 90,
                     minorTicks: 5
                  };

                  var chart = new google.visualization.Gauge( div );
                  chart.draw( data, options );
               }

               for ( var idx = 0; idx < workerAddresses.length; ++idx ) {
                  var found = activeWorkers.indexOf( workerAddresses[idx] );

                  if ( found === -1 ) {
                     const div = document.getElementById( workerAddresses[idx] );
                     div.remove();

                     workerAddresses.splice( idx, 1 );
                  }
               }
            }
         }

         xmlhttp.open( 'GET', '/workers', true );
         xmlhttp.send();

      }
   </script>

</body>

</html>
<footer>
   <% include template/footer.ejs %>
</footer>