<!DOCTYPE html>
<html>
<head>
   <% include template/head.ejs %>
</head>

<body>
   <header>
      <% include template/header.ejs %>
   </header>

   <div id='container' class='container'>

   </div>

   <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
   <script>
      google.charts.load( 'current', { 'packages': ['gauge'] });
      google.charts.setOnLoadCallback( generateChart );

      function generateChart() {

         // Ajax
         drawChart();
         setInterval( drawChart, 1000 );
      }

      function drawChart() {

         const xmlhttp = new XMLHttpRequest();
         xmlhttp.open( 'GET', '/workers', true );

         xmlhttp.onreadystatechange = function () {
            console.log('oe');
            if ( xmlhttp.readyState == 4 && xmlhttp.status == 200 ) {
               console.log('oe2');
               const workers = JSON.parse( xmlhttp.response );

               for ( var idx = 0; idx < workers.length; ++idx ) {

                  var div;
                  var container = document.getElementById( 'container' );

                  if ( ( div = document.getElementById( workers[idx].address ) === null ) ) {

                     div = document.createElement( 'div' );
                     div.style = 'width: 50%; margin: 0 auto;';
                     div.id = workers[idx].address;
                     container.appendChild( div );

                     var h1 = document.createElement( 'h1' );
                     h1.innerHTML = workers[idx].address;
                     h1.style = 'width: 50%; margin: 0 auto;'
                     container.appendChild( h1 );

                     var hr = document.createElement( 'hr' );
                     container.appendChild( hr );
                  }

                  var data = google.visualization.arrayToDataTable( [
                     ['Label', 'Value'],
                     ['Memory', ( 1 - workers[idx].lastResource.memory ) * 100],
                     ['CPU', ( 1 - workers[idx].lastResource.cpu ) * 100]
                  ] );

                  var options = {
                     width: 400, height: 120,
                     redFrom: 90, redTo: 100,
                     yellowFrom: 75, yellowTo: 90,
                     minorTicks: 5
                  };

                  var chart = new google.visualization.Gauge( div );
                  chart.draw( data, options );
               }
            }
         }
      }
   </script>

</body>

</html>
<footer>
   <% include template/footer.ejs %>
</footer>