<!DOCTYPE html>
<html>
<head>
   <% include template/head.ejs %>
</head>

<body>
   <header>
      <% include template/header.ejs %>
   </header>

   <div id='container' class='container'>

   </div>

   <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
   <script>
      google.charts.load( 'current', { 'packages': ['gauge'] });
      google.charts.setOnLoadCallback( drawChart );

      function drawChart() {

         $.ajax( {
            type: 'GET',
            url: 'http://localhost:8080/ajaxcall',
            dataType: 'json'
         })
            .done(( workers ) => {
               for ( var idx = 0; idx < workers.length; ++idx ) {
                  var data = google.visualization.arrayToDataTable( [
                     ['Label', 'Value'],
                     ['Memory', ( 1 - workers[idx].lastResource.memory ) * 100],
                     ['CPU', ( 1 - workers[idx].lastResource.cpu ) * 100]
                  ] );

                  var options = {
                     width: 400, height: 120,
                     redFrom: 90, redTo: 100,
                     yellowFrom: 75, yellowTo: 90,
                     minorTicks: 5
                  };

                  var container = document.getElementById( 'container' );

                  var h1 = document.createElement( 'h1' );
                  h1.innerHTML = workers[idx].address;
                  h1.style = 'width: 50%; margin: 0 auto;'
                  container.appendChild( h1 );

                  var hr = document.createElement( 'hr' );
                  container.appendChild( hr );

                  var div = document.createElement( 'div' );
                  div.style = 'width: 50%; margin: 0 auto;'
                  container.appendChild( div );

                  var chart = new google.visualization.Gauge( div );

                  chart.draw( data, options );

                  setInterval( function () {
                     data.setValue( 1, 1, 60 + Math.round( 20 * Math.random() ) );
                     chart.draw( data, options );
                  }, 1000 );
               }
            });
      }
   </script>

</body>

</html>
<footer>
   <% include template/footer.ejs %>
</footer>